body{
    font-family: cursive;
    background-image: url('backgroundflame');
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation{
float: center;  
color: black;  
text-align: right;
padding: 24px 26px;
text-decoration: none;
font-size: 17px;
background-color:cyan;
margin: inherit;
padding-bottom: 20px;
}
.navigation a:hover{
background-color:hotpink;
color: black;
}
H1{
    text-align: center;
    color: hotpink;
}
.about,.testimonials,.contacts{
    background-color:pink;
    margin-left: 5%;
    margin-right: 5%;
    
    background-position-x: center ;
    background-position-y: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-inline: 5%;
    color: black;
    float: none ;
    text-align: left;
    
}
ul{
    padding-bottom: 5%;
}
#about{
    padding-top: 5%;
}
footer {
    color:black;
    text-align: center;
    background-color: white;
    
}
.fa {
    padding: 20px;
    font-size: 0px;
    width:30px;
    background:blue;
    color:white;
    border-radius: 50%;
    text-align: center;
}
.fa:hover{
    opacity:0.7;
}
.fa-whatsapp{
    background: green;
}
.fa-instagram{
    background-color: indianred;
}
.contacts{
    text-align: center;
}
