body{
    margin:0;
    font-family: cursive;
    background-image: url('background\ flame');
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation{
float: center;  
color: blue;  
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color:cyan;
margin: inherit;
}
.navigation a:hover{
background-color:hotpink;
color: black;
}
H1{
    text-align: center;
    color: hotpink;
}